:root {
    --color-primary: #00b0d3;
    --color-secondary: #00376b; 
    --color-extra: #e9bc03;
}

@media only screen and (min-width: 641px) and (max-width: 1280px) {
    header{
        flex-direction: column;
        width: 100%;
    }

    footer{
        width: 100%;
        margin-bottom: 0;
    }   
    
    main{
        width: 100%;
    }

    .main-body{
        padding: 0 1em;
    }

    .filter-btns{
        display: block;
    }

    .filter-btns button{
        display: inline;
        margin-top: 0.5em;
    }

    #dir-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}