:root {
    --color-primary: #00b0d3;
    --color-secondary: #00376b; 
    --color-extra: #e9bc03;

    --body-width: 80rem;
}

* {
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5{
    font-family: "Rubik", serif;
}

main{
    flex: 1;
}

header,
main,
footer{
    margin: 0 auto;
    width: var(--body-width);
}

header{
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    padding: 0 ;
    border-top: 0.5em solid var(--color-extra);
    align-items: center;
    white-space: nowrap;
}

#header-logo a{
    text-decoration: none;
    width: fit-content;
}

#header-logo{
    display: flex;
    padding: 0.5em 0 0.5em 1em;
}

#header-logo img{
    width: 5em;
    height: 5em;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}

#header-logo h2{
    font-size: 2.5em;
    color: #fff;
}

#header-logo h3{
    color: var(--color-secondary);
    font-size: 1.75em;
    letter-spacing: 0.36em;
    text-align: center;
}

#header-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 0.5em 1em 0.5em 0;
}

#header-nav a{
    text-decoration: none;
    color: #000;
    font-size: 1.35em;
    padding: 0.5em;
    width: 5em;
    text-align: center;
    border-left: 1px solid var(--color-secondary);
}

#header-nav a:first-child{
    border: none;
}

#header-nav a:hover{
    background-color: var(--color-secondary);
    color: #fff;
}

.nav-active{
    text-decoration: underline !important;
    text-underline-offset: 0.25em;
}

footer{
    background-color: var(--color-primary);
    border-top: 0.5em solid var(--color-extra);
    display: flex;
    justify-content: space-between;
}

#footer-text{
    padding: 1em;
    color: var(--color-secondary);
    font-weight: bold;
}

#footer-text h4{
    color: #fff;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    border-left: 0.5em solid var(--color-secondary);
    padding-left: 0.3em;
}

#footer-social{
    display: flex;
    width: fit-content;
    padding: 1em 2.5em;
}

#footer-social img{
    width: 3em;
    height: 3em;
    margin-left: 0.5em;
}

#menu {
    display: none;
}

.hero-container{
    position: relative;
}

.hero-container img {
    vertical-align: middle;
}

.hero-text {
    position: absolute;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    width: 90%;
    padding: 1% 5% 2% 5%;
    text-align: center;
}

.hero-text h1{
    width: fit-content;
    margin: 0 auto;
    font-size: 3.5em;
}

.hero-text h2{
    border-left: 0.5em solid var(--color-extra);
    border-right: 0.5em solid var(--color-extra);
    width: fit-content;
    margin: 0 auto;
    padding: 0 0.5em;
}

.hero-text h3{
    font-size: 1em;
    color: var(--color-extra);
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.5em;
}

.grid-two-cols{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em 0;
}

.hero-text h4{
    font-size: 2em;
}

.grid-three-cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

dialog {
    border: none;
    border-radius: 0.5em;
    padding: 1.5em 3em;
    background-color: #fff;
    box-shadow: 0 0 3rem var(--color-dark);
    width: 90%;
    max-width: 40em;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
  
::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}
  
dialog button {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.5em;
    border: 2px solid var(--color-extra);
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #fff;
}

#learnLanguage h3{
    color: var(--color-secondary);
    border-left: 0.5em solid var(--color-extra);
    padding-left: 0.5em;
    margin-bottom: 0.75em;
    margin-left: -1em;
    font-size: 1.5em;
}

#learnLanguage li{
    padding-bottom: 0.35em;
}

#learnLanguage li::marker{
    color: var(--color-primary);
}

.main-body{
    margin: 1em 0;
}

.main-body h2,
.main-body h4,
.main-body h5{
    color: var(--color-secondary);
}

.main-body h3{
    color: var(--color-primary);
    margin: 1em 0 0.5em 0;
}

.main-body h2{
    border-left: 0.5em solid var(--color-extra);
    padding-left: 0.35em;
    margin: 1em 0 0.5em 0
}

.main-body p{
    margin: 0.5em 0;
}

#weather-wrapper{
    text-align: center;
}

#weather-wrapper > div{
    border: 2px solid var(--color-extra);
    border-radius: 1em;
    padding: 1em;
}

#weather-wrapper h5{
    font-size: 1.2em;
}

#currency{
    margin-top: 1em;
}

#currency p{
    margin: 0;
    border-left: 2px solid var(--color-extra);
    padding: 0.5em;
}

#gmapsinfo{
    border: none;
    width: 100%;
    height: 25em;
}

#learn-lang{
    padding: 1em 1.5em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--color-secondary);
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0.5em 0 0.5em 1em
}

#learn-lang:hover{
    background-color: var(--color-primary);
}

#suggest-form{
    accent-color: var(--color-secondary);
}

#suggest-form label,
#suggest-form p{
    display: block;
    font-size: 1em;
    padding-top: 0.25em;
    color: #111;
    margin-top: 1em;
}

#suggest-form input[type=text],
#suggest-form input[type=tel],
#suggest-form input[type=email]{
    display: block;
    padding: 0.4em;
    border: 1px solid #111;
    border-radius: 5px;
    font-size: 1em;
    color: #000;
    width: 20em;
    border-left: 5px solid #555;
}

#suggest-form input:required {border-left-color: #d70000;}
#suggest-form input:focus {border-left-color: var(--color-primary); outline:none;}
#suggest-form input:required:valid{border-left-color: green;}

#suggest-form input[type=submit]{
    border: none;
    text-align: center;
    background-color: var(--color-secondary);
    color: #fff;
    padding: 1em;
    margin: 2em 15%;
    width: 70%;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
}

#suggest-form input[type=submit]:hover{
    background-color: var(--color-primary);
}

#suggest-form textarea {
    display: block;
    font-size: 1.3em;
    width: 18.95em;
    height: 7em;
    border-radius: 5px;
    border: 1px solid #111;
    padding: 0.5em;
}

#suggest-form select{
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 0.25em;
    width: 21.14em;
}

#suggest-form p{
    margin-bottom: -1em;
}

.flex{
    display: flex;
    gap: 1.25em
}

#suggest-form{
    width: fit-content;
    margin: 0 auto;
}

