@media only screen and (max-width: 510px) {

    .grid {
        display: block;
    }

    .directory-card-grid img{
        width: 80%;
        height: 80%;
    }

    .directory-card-grid{
        width: 94%;
        border: 2px solid var(--color-dark);
        border-radius: 0.5em;
        padding: 0.5em ;
        text-align: center;
        height: fit-content;
        margin-bottom: 0.5em;
    }

    #footer-wrapper{
        display: block;
    }

    #footer-social{
        display: block;
        width: fit-content;
        margin: 1em auto;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;
    }
    
    #menu::before {
        content: "☰";
        color: #000;
    }
    
    #menu.open::before {
        content: "⨯";
        color: #000;
    }

    #header-wrapper{
        display: block;
    }

    #header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #header-nav a {
        display: none;
        padding: 0.5rem;
        font-size: 1.2em;
        text-align: center;
        width: 100%;
    }

    .open a {
        display: block !important;
    }

    #header-logo h3{
        color: #222;
        font-size: 0.85em;
    }

    .directory-card-list{
        width: 94%;
        display: block;
        padding: 1em;
        align-items: center;
    }

    .grid-3c{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .grid-2c{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .home-card section{
        height: fit-content;
    }

    .mship-card{
        width: 90%;   
        display: block;
        margin: 2em auto; 
    }
    #join-form-wrapper{
        margin: 2em 0;
    }

    .join-form input[type=text],
    .join-form input[type=tel],
    .join-form input[type=date],
    .join-form input[type=email]{
        width: 95%;
    }

    .join-form input[type=submit]{
        display: block;
        margin: 2em auto;
        width: 50%;
    }

    .join-form textarea {
        width: 95%;
    }

    #joinus-wrapper{
        display: block;
    }

    dialog {
        width: 70%;
    }
}